# ASP.NET
*.dll
*.exe
*.pdb
*.cache
*.suo
*.user
*.bak
*.log
*.vs/
*.vspscc
*_i.c
*_p.c
*.ncb
*.sln.docstates
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlh
*.tli
*.tlb
*.trx
*.user
*.vbw
*.vc.db
*.vcxitems.filters
*.xc.pch
*.exp
*.lib
*.idb
ipch/
Debug/
Release/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
*.pubxml
*.publishproj
*.cache
*.userprefs
*.crdownload
*.dotCover
*.suo
*.sdf
*.opensdf
*.sqlproj.user
.vscode
.vs
